@import "../sass/fonts";
$color1:#4d58d7;
@mixin font ($fz,$fw,$ff,$c,$mb) {
   font-size: $fz;
   font-weight: $fw;
   font-family: $ff;
   color: $c;
   margin-bottom: $mb;
}
#blockwidh{
   max-width: 1140px;
   margin: 0 auto;
   padding: 30px;
   @media (max-width:1199px){
      max-width: 992px;
   }
   @media (max-width:990px){
      max-width: 768px;
   }
   @media (max-width:767px){
      max-width: 576px;
      padding: 20px;
   }
   @media (max-width:575px){
      max-width: 388px;
   }
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Open Sans";
}

.title {
   @include font(48px,400,"Oswald",white,35px);
}
.subtitle {
   @include font(20px,400 ,"Roboto" ,white,20px );
}
.text {
   @include font(14px,400,"Open Sans",white,20px);
}
.link {
   text-transform: uppercase;
   text-decoration: none;
   background: $color1;
   display: inline-block;
   font-size: 14px;
   color: #fff;
   padding: 10px 30px;
   &:hover{
      background: #3746f1;
   }
}



.block {
   width: 100%;
   height: 100%;
   .container {
      @extend #blockwidh;
      display: flex;
      align-items: center;
      height: 100%;
   }
   .block1title {
      @include font(128px,700,"Oswald",$color1 ,40px);
   }

   .block1subtitle {
      font-size: 30px;
      max-width: 350px;
   }

   .block1text {
      max-width: 520px;
   }
}
.block1{
   padding: 150px 0;
   background: url(../img/block.jpeg) center/cover no-repeat;
}



.block2{
   background: #000;
   padding: 50px 0;
}
.block2container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.block2content{
   max-width: 700px;
}
.block2title{
   margin-bottom: 20px;
}




.block3{
   display: flex;
   flex-wrap: wrap;
   @media (max-width:990px){
      .column{
         flex: 0 0 100%;
      }
   }
   @media (max-width:767px){
      .column__content1{
         flex: 0 0 100%;
      }
   }
}
.max100{
   background: url(../img/block2.jpeg) right/cover no-repeat;
}
.column{
   flex: 0 0 50%;
   display: flex;
   flex-wrap: wrap;
   height: 671px;
		&__content {
         height: 334px;
         flex: 0 0 100%;
         background: url(../img/block22.jpeg) top/cover no-repeat;
		}

		&__content1 {
         flex: 0 0 50%;
         padding: 40px 20px;
         height: 337px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         background: $color1;
         .block3title{
            font-size: 36px;
            margin-bottom: 20px;
         }
		}
      &__content2{
         background: grey;
      }
}
.block3text{
   margin-bottom: 0;
}
.block4{
   display: flex;
   flex-wrap: wrap;
}
.blockcolumn {
   flex: 0 0 25%;
   height: 360px;
   @media (max-width:990px){
      flex: 0 0 50%;
   }
   @media (max-width:767px){
      flex: 0 0 100%;
   }
}
.blockcolumn1 {
   background: url(../img/block3.jpeg) center/cover no-repeat;
}
.blockcolumn2 {
   background: url(../img/block33.jpeg) center/cover no-repeat;
}
.blockcolumn3 {
   background: url(../img/block333.jpeg) center/cover no-repeat;
}
.blockcolumn4 {
   background: url(../img/block3333.jpeg) center/cover no-repeat;
}


.block5 {
   padding: 50px 0;
   background: $color1;
   text-align: center;
   a{
      color: #fff;
      margin: 0 7px;
      ion-icon{
         width: 24px;
         height: 24px;
         transition: 0.3s;
         &:hover{
            transform: scale(1.3);
         }
      }
   }
}
.block5title {
   margin-bottom: 14px;
}

.block6{
   background: url(../img/block.jpeg) center/cover no-repeat;
   padding: 170px 0;
}
.block6content{
   max-width: 530px;
   margin: 0 20px;
   @media (max-width:1199px){
      max-width: 438px;
   }
   @media (max-width:990px){
      max-width: 334px;
   }
   @media (max-width:767px){
      max-width: 320px;
   }
   @media (max-width:575px){
      max-width: 271px;
   }
}




.block7 {
   background: url(../img/block4.jpeg) center/cover no-repeat;
   padding: 167px 0 ;
}
.block7conteiner{
   justify-content: flex-end;
}
.block7content {
   text-align: end;
   max-width: 417px;
   @media (max-width:1199px){
      max-width: 345px;
   }
   @media (max-width:990px){
      max-width: 263px;
   }
   @media (max-width:767px){
      max-width: 253px;
   }
   @media (max-width:575px){
      max-width: 215px;
   }
   &>div{
      color: #000;
   }
}



.block8 {
   background: #000;
   padding: 30px 0;
}
.block8container{
   flex-wrap: wrap;
}
.block8column {
   flex: 0 0 50%;
   padding-left: 30px;
   margin-bottom: 50px;
   @media (max-width:767px){
      flex: 0 0 100%;
      padding-left: 0;
   }
}
.block8column1{
   display: flex;
   flex-wrap: wrap;
   padding: 0;
}
.block8content {
   flex: 0 0 100%;
   background: $color1;
   padding: 20px;
}
.block8content1{
   background: url(../img/block5.jpeg) center/cover no-repeat;
   height: 296px;
   padding: 0;
}
.block8title{
   margin-bottom: 20px;
   font-weight: 300;
}
.input {
   width: 100%;
   margin: 10px 0;
   padding: 15px 10px;
   outline: none;
   border: none;
}
textarea{
   height: 130px;
}
.link {
   border: none;
}

